:root {
    --bg: #fff;
    --primary: #0065ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;


}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: #fff;
}

.navbarlion {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1.2rem 7%;
    background-color: #fff;
    border-bottom: 1px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    
}

.navbarlion .navbar-atas-logo {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--primary);

}

.navbarlion .navbar-atas-logo span {
    color: red;
    font-size: 1.8rem;
    font-weight: 700;
}

.navbarlion .navbar-kanan a {
    color: var(--primary);
    font-size: 2rem;
    margin: 1rem 1rem;

}


/* hero */
.hero {
    
    display: flex;
   justify-content: center;
    position: relative;
    align-items: center;
    
    border-bottom: 1px solid #0065ff;
    
}

.hero::after {
    content: "";
    display: flexbox;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;

}

.hero .content-atas  {
    
    padding-top: 7rem;
    align-items: center;
    margin: 1rem;
    text-align: justify;

    
}

.hero .content-atas p {
  color: red;
}

.hero .content-atas h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  justify-items: center;
  color: black;
}

.hero .content-atas h1 span {
  color: rgb(253, 88, 11);
}
/* isi */
.isi {
      display: flex;
   justify-content: center;
    position: relative;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #0065ff;
  }
  
  .isi .icons {
    justify-content: space-between;
  }
  
  .isi .icons a {
    border-color: #0065ff;
    margin: 1rem 1rem;
    color: #0065ff;
}


/* artikel start */

.artikel {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}


img {
  width: 254px;
  height: 400px;
}


/* isian start */

.tulisan {
  margin-top: 3rem;
 display: block;
 color: black;

}

.tulisan h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.tulisan p {
  margin: 1rem;
  font-size: 1.4rem;
}


/* footer */
footer {
  background-color: #0065ff;
  text-align: center;
  padding: 3rem;
  margin-top: 3rem;
}

footer .credit p {
  font-weight: 400;
  font-size: 1rem;
}

/* media querless */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */


@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

 
  




  /* handphone */
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
  }
}